@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header-section {
  height: 100vh;
}

.header-section .navigation-container {
  height: 15%;
  background-color: #ffffff;
  position: relative;
}

.header-section .navigation-container .logo-container {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.header-section .navigation-container .logo-container .header-logo {
  position: absolute;
  height: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 601px) {
  .header-section .navigation-container .logo-container .header-logo {
    height: 25%;
  }
}

.header-section .navigation-container .logo-container .navigation-icon {
  position: absolute;
  height: 25px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section .navigation-container .logo-container .navigation-cross {
  position: absolute;
  height: 25px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section .navigation-container .navigation-menu {
  height: 60px;
  background: #0b612d;
  position: absolute;
  right: 0;
  width: 65%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -30px;
  z-index: 1000;
  padding: 0 1%;
}

.header-section .navigation-container .navigation-menu a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  padding: 1%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section .navigation-container .navigation-menu a:hover {
  color: #CC9B2B;
}

.header-section .navigation-container .navigation-menu a img {
  height: 110px;
}

@media screen and (min-width: 1441px) {
  .header-section .navigation-container .navigation-menu a {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.header-section .navigation-container .navigation-menu .dropdown-container {
  position: relative;
}

.header-section .navigation-container .navigation-menu .dropdown-container .container-btn {
  cursor: pointer;
}

.header-section .navigation-container .navigation-menu .dropdown-container .container-btn a:hover {
  color: #ffffff;
}

.header-section .navigation-container .navigation-menu .dropdown-container .down-arrow {
  position: absolute;
  right: -50%;
  top: 10%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section .navigation-container .navigation-menu .dropdown-container .down-arrow img {
  width: 15px;
}

.header-section .navigation-container .navigation-menu .dropdown-container ul {
  margin: 0;
  position: absolute;
  top: 200%;
  left: -50%;
  background-color: #0b612d;
  list-style: none;
  padding-left: 0;
  padding: 0 20%;
  border-radius: 5px;
  display: none;
  -webkit-animation: menuAnimate 0.3s;
          animation: menuAnimate 0.3s;
}

.header-section .navigation-container .navigation-menu .dropdown-container ul li {
  width: 120px;
  padding: 10px;
  border-bottom: 1px solid #95c11f;
}

.header-section .navigation-container .navigation-menu .dropdown-container ul li:last-child {
  border-bottom: 0;
}

.header-section .navigation-container .navigation-menu .dropdown-container ul li a {
  font-size: 17px;
  font-weight: 600;
}

@media screen and (min-width: 1441px) {
  .header-section .navigation-container .navigation-menu a {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.header-section .header-content {
  height: 85%;
  background-image: url("../assets/about/about-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 601px) {
  .header-section .header-content {
    background-image: url("../assets/about/about-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.header-section .header-content .header-tagline {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: #95c11f;
  height: 50vh;
  z-index: 10;
  border-top-left-radius: 300px;
}

@media screen and (min-width: 1441px) {
  .header-section .header-content .header-tagline {
    border-top-left-radius: 350px;
  }
  .header-section .header-content .header-tagline .header-leaf-left img {
    height: 55vmin;
  }
}

.header-section .header-content .header-tagline .header-leaf-left {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.header-section .header-content .header-tagline .header-leaf-left img {
  height: 45vmin;
}

.header-section .header-content .header-tagline .header-tagline-content {
  width: 70%;
  margin-left: 10%;
}

.header-section .header-content .header-tagline .header-tagline-content h1 {
  font-weight: 900;
  color: #ffffff;
  font-size: 6vmin;
  margin-bottom: 0;
}

@-webkit-keyframes menuAnimate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes menuAnimate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.info-container {
  background: #0b612d;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  padding: 1%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-container .info-icon {
  padding: 20px 0;
  border-bottom: 1px solid #95c11f;
  margin-top: 15px;
  cursor: pointer;
}

.info-container .info-icon:last-child {
  border: 0;
}

.info-container .info-icon img {
  height: 25px;
}

.info-box-container .search-input {
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 65px;
  z-index: 5000;
  -webkit-transform: translateX(425px);
          transform: translateX(425px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.info-box-container .search-input input {
  width: 400px;
  border: 2px solid #0b612d;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5% 5%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  color: #0b612d;
  margin-top: 50px;
  margin-right: -10px;
}

.info-box-container .search-input img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.info-box-container .phone-hover {
  height: 50px;
  position: fixed;
  bottom: 14vh;
  right: 65px;
  border-radius: 5px;
  z-index: 5000;
  border: 2px solid #0b612d;
  background-color: rgba(255, 255, 255, 0.8);
  width: 300px;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.info-box-container .phone-hover p {
  font-size: 18px;
  color: #0b612d;
  margin: 0;
  font-weight: 600;
  padding: 0 1%;
}

.info-box-container .contact-input-box {
  height: auto;
  position: fixed;
  bottom: 0;
  right: 65px;
  z-index: 5000;
  border: 2px solid #0b612d;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1% 3%;
  width: 500px;
  -webkit-transform: translateX(565px);
          transform: translateX(565px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.info-box-container .contact-input-box h2 {
  color: #0b612d;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 1rem;
}

.info-box-container .contact-input-box .input-collection input,
.info-box-container .contact-input-box .input-collection textarea {
  display: block;
  padding: 6px;
  width: 100%;
  outline: none;
  background-color: inherit;
}

.info-box-container .contact-input-box .input-collection input {
  border: 0;
  border-bottom: 2px solid #0b612d;
}

.info-box-container .contact-input-box .input-collection textarea {
  border: 2px solid #0b612d;
  height: 100px;
  background-color: #ffffff;
}

.info-box-container .contact-input-box .input-collection label {
  color: #0b612d;
  font-weight: 600;
  margin-top: 1rem;
  text-transform: capitalize;
}

.info-box-container .contact-input-box .input-collection button {
  outline: none;
  border: 0;
  background-color: #0b612d;
  color: #ffffff;
  padding: 8px 30px;
  font-size: 18px;
  margin-top: 1rem;
  text-transform: capitalize;
  border-radius: 10px;
  border: 2px solid #0b612d;
}

.info-box-container .contact-input-box .cross-contact {
  position: absolute;
  top: 3%;
  left: 3%;
  cursor: pointer;
}

.info-box-container .contact-input-box .cross-contact img {
  height: 25px;
  width: 25px;
}

.vision-container {
  padding: 15% 10%;
  position: relative;
}

.vision-container .grid-leaf-left {
  position: absolute;
  top: 0;
  left: 0;
}

.vision-container .grid-leaf-left img {
  height: 25vmin;
}

.vision-container .grid-leaf-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.vision-container .grid-leaf-right img {
  height: 75vmin;
}

.vision-container .vision-box-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2.5%;
}

@media screen and (max-width: 601px) {
  .vision-container .vision-box-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.vision-container .vision-box-container .vision-box {
  height: 50vh;
  background-color: #13A438;
}

.vision-container .vision-box-container .vision-box .vision-box-content {
  width: 50%;
  text-align: center;
}

.vision-container .vision-box-container .vision-box .vision-box-content h2 {
  color: #ffffff;
  font-weight: 900;
  font-size: 5vmin;
  text-transform: uppercase;
}

.vision-container .vision-box-container .vision-box .vision-box-content p {
  color: #ffffff;
  font-size: 2vmin;
  margin-top: 5%;
}

.vision-container .vision-box-container .vision-left {
  border-top-left-radius: 200px;
}

.vision-container .vision-box-container .vision-right {
  border-bottom-right-radius: 200px;
}

.services {
  padding: 10% 10%;
  background-image: url("../assets/service-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services .services-item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0 5%;
  position: relative;
  background-image: url("../assets/service-stroke.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services .services-item-container .service-item {
  padding: 0 0 5% 0;
}

.services .services-item-container .service-item img {
  width: 100%;
}

.services .services-item-container .service-1 {
  padding: 0 0 5% 0;
}

.services .services-item-container .service-2 {
  padding: 0 0 5% 0;
}

.services .services-item-container .service-3 {
  padding: 5% 0 0 0;
}

.services .services-item-container .service-4 {
  padding: 5% 0 0 0;
}

.services .services-content {
  padding-left: 10%;
}

.services .services-content h2 {
  font-weight: 900;
  color: #0b612d;
  font-size: 4vmin;
}

.services .services-content button {
  outline: none;
  background: inherit;
  border: 2px solid #ffffff;
  padding: 1% 5%;
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 10px;
  margin-top: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
}

.services .services-content button:hover {
  border: 2px solid #0b612d;
  color: #ffffff;
  background-color: #0b612d;
}

@media screen and (min-width: 1441px) {
  .services .services-content h2 {
    font-size: 5vmin;
  }
}

.inception-container {
  height: 100vh;
  padding: 5% 10%;
  position: relative;
}

.inception-container .grid-leaf-left {
  position: absolute;
  top: 0;
  left: 0;
}

.inception-container .grid-leaf-left img {
  height: 25vmin;
}

.inception-container .grid-leaf-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.inception-container .grid-leaf-right img {
  height: 75vmin;
}

.inception-container .inception-content .inception-header {
  text-align: center;
}

.inception-container .inception-content .inception-header h2 {
  color: #0b612d;
  font-weight: 900;
  font-size: 6vmin;
}

.inception-container .inception-content .inception-body {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.inception-container .inception-content .inception-body p {
  font-size: 18px;
  color: #4A4A4A;
  margin-top: 5%;
}

.inception-container .inception-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.inception-container .inception-footer img {
  height: 35vmin;
}

.annual-report-section .annual-bottom {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../assets/about/about-annual.jpeg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../assets/about/about-annual.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 601px) {
  .annual-report-section .annual-bottom {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../assets/about/about-annual.jpeg");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../assets/about/about-annual.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.annual-report-section .annual-bottom .annual-reports {
  padding: 5% 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.annual-report-section .annual-bottom .annual-reports .annual-reports-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}

.annual-report-section .annual-bottom .annual-reports .annual-reports-grid h3 {
  color: #ffffff;
  font-size: 7vmin;
  font-weight: 500;
}

.annual-report-section .annual-bottom .annual-reports .annual-reports-grid p {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.proud-container {
  padding: 5% 10% 2% 10%;
  position: relative;
}

.proud-container .grid-leaf-left {
  position: absolute;
  top: 0;
  left: 0;
}

.proud-container .grid-leaf-left img {
  height: 25vmin;
}

.proud-container .grid-leaf-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.proud-container .grid-leaf-right img {
  height: 75vmin;
}

.proud-container .proud-content .proud-header {
  text-align: center;
}

.proud-container .proud-content .proud-header h2 {
  color: #0b612d;
  font-weight: 900;
  font-size: 6vmin;
}

.proud-container .proud-content .proud-body {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.proud-container .proud-content .proud-body p {
  font-size: 18px;
  color: #4A4A4A;
  margin-top: 5%;
}

.proud-container .proud-footer {
  text-align: center;
  margin-top: 10%;
}

.proud-container .proud-footer h3 {
  font-size: 10vmin;
  color: #0b612d;
  font-weight: 900;
}

.proud-container .proud-footer h4 {
  color: #4A4A4A;
  font-size: 4vmin;
  font-weight: 700;
}

.proud-report-section .proud-bottom {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../assets/about/about-annual.jpeg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../assets/about/about-annual.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 601px) {
  .proud-report-section .proud-bottom {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6))), url("../assets/about/about-annual.jpeg");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../assets/about/about-annual.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.proud-report-section .proud-bottom .proud-reports {
  padding: 5% 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.proud-report-section .proud-bottom .proud-reports .proud-reports-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}

.proud-report-section .proud-bottom .proud-reports .proud-reports-grid h3 {
  color: #ffffff;
  font-size: 7vmin;
  font-weight: 700;
}

.proud-report-section .proud-bottom .proud-reports .proud-reports-grid p {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.proud-report-text {
  padding: 5% 10%;
}

.proud-report-text .proud-text-container {
  margin: 3% 0;
}

.proud-report-text .proud-text-container p {
  font-size: 18px;
  text-align: center;
}

.about-grid-section {
  padding: 5% 10%;
  background-color: #0b612d;
}

.about-grid-section .about-grid-container #grid-border-last {
  border-bottom: 1px solid #0b612d;
}

.about-grid-section .about-grid-container .grid-border-left {
  border-bottom: 1px solid #95c11f;
  border-right: 1px solid #95c11f;
}

.about-grid-section .about-grid-container .about-grid-item {
  height: 60vh;
  padding: 5%;
  border-bottom: 1px solid #95c11f;
  position: relative;
}

@media screen and (max-width: 601px) {
  .about-grid-section .about-grid-container .about-grid-item {
    height: auto;
    border: 0;
  }
}

.about-grid-section .about-grid-container .about-grid-item .grid-content {
  height: 100%;
}

.about-grid-section .about-grid-container .about-grid-item .grid-content-left {
  border-top-left-radius: 200px;
  text-align: right;
}

@media screen and (max-width: 601px) {
  .about-grid-section .about-grid-container .about-grid-item .grid-content-left {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 50px;
  }
}

.about-grid-section .about-grid-container .about-grid-item .grid-content-right {
  border-bottom-right-radius: 200px;
}

@media screen and (max-width: 601px) {
  .about-grid-section .about-grid-container .about-grid-item .grid-content-right {
    border-bottom-right-radius: 50px;
  }
}

.about-grid-section .about-grid-container .about-grid-item .grid-content-image {
  overflow: hidden;
}

.about-grid-section .about-grid-container .about-grid-item .grid-content-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-grid-section .about-grid-container .about-grid-item .grid-content-text {
  padding: 5% 10% 5% 10%;
  background-color: #95c11f;
}

@media screen and (max-width: 601px) {
  .about-grid-section .about-grid-container .about-grid-item .grid-content-text {
    padding: 5% 5% 5% 5%;
  }
}

.about-grid-section .about-grid-container .about-grid-item .grid-content-text h3 {
  color: #ffffff;
  font-weight: 900;
  font-size: 2em;
}

@media screen and (max-width: 601px) {
  .about-grid-section .about-grid-container .about-grid-item .grid-content-text h3 {
    font-size: 2em;
  }
}

.about-grid-section .about-grid-container .about-grid-item .grid-content-text ul {
  padding-left: 0;
}

.about-grid-section .about-grid-container .about-grid-item .grid-content-text ul li {
  color: #ffffff;
  border-bottom: 1px solid #0b612d;
  margin-bottom: 0;
  margin-top: 1%;
  padding-bottom: 2%;
  font-size: 1em;
  list-style-type: none;
}

.about-grid-section .about-grid-container .about-grid-item .green-box {
  height: 45px;
  width: 45px;
  background-color: #0b612d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -22.5px;
  right: -22.5px;
  z-index: 1000;
}

@media screen and (max-width: 601px) {
  .about-grid-section .about-grid-container .about-grid-item .green-box {
    display: none;
  }
}

.about-grid-section .about-grid-container .about-grid-item .green-box .green-box-middle {
  height: 15px;
  width: 15px;
  background-color: #95c11f;
}

.about-board-members {
  padding: 0 10% 0 10%;
}

.about-board-members .board-members-header {
  height: 250px;
  position: relative;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-members-header {
    height: 150px;
  }
}

.about-board-members .board-members-header .board-member-header-image {
  position: absolute;
  bottom: 0;
}

.about-board-members .board-members-header .board-member-header-image img {
  width: 100%;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-members-header .board-member-header-image {
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.about-board-members .board-member-body {
  padding: 5% 0;
}

.about-board-members .board-member-body .member-container {
  padding: 5% 0;
  margin-top: 1%;
}

.about-board-members .board-member-body .member-container-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-bottom: 1px solid #95c11f;
  position: relative;
}

.about-board-members .board-member-body .member-container-one .member-container-one-container {
  width: 22%;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-one .member-container-one-container {
    width: 100%;
  }
}

.about-board-members .board-member-body .member-container-one .member-container-one-container .member-image {
  overflow: hidden;
  border-top-right-radius: 100px;
}

.about-board-members .board-member-body .member-container-one .member-container-one-container .member-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-board-members .board-member-body .member-container-one .member-container-one-container .member-details {
  color: #4A4A4A;
  margin-top: 4%;
}

.about-board-members .board-member-body .member-container-one .member-container-one-container .member-details h4 {
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

.about-board-members .board-member-body .member-container-one .member-container-one-container .member-details h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
}

.about-board-members .board-member-body .member-container-one .green-box {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -20px;
  left: 70%;
}

.about-board-members .board-member-body .member-container-one .green-box .green-box-middle {
  width: 15px;
  height: 15px;
  background-color: #95c11f;
}

.about-board-members .board-member-body .member-container-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0 1em;
  border-bottom: 1px solid #95c11f;
  position: relative;
}

.about-board-members .board-member-body .member-container-two .green-box {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -20px;
  left: 30%;
}

.about-board-members .board-member-body .member-container-two .green-box .green-box-middle {
  width: 15px;
  height: 15px;
  background-color: #95c11f;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-two {
    gap: 3em 0;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.about-board-members .board-member-body .member-container-two .member-container-two-container {
  text-align: center;
  position: relative;
}

.about-board-members .board-member-body .member-container-two .member-container-two-container .member-image {
  height: 25vh;
  overflow: hidden;
}

@media screen and (min-width: 1441px) {
  .about-board-members .board-member-body .member-container-two .member-container-two-container .member-image {
    height: 30vh;
  }
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-two .member-container-two-container .member-image {
    height: 30vh;
  }
}

.about-board-members .board-member-body .member-container-two .member-container-two-container .member-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-board-members .board-member-body .member-container-two .member-container-two-container .member-details {
  color: #4A4A4A;
  margin-top: 5%;
}

.about-board-members .board-member-body .member-container-two .member-container-two-container .member-details h4 {
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

.about-board-members .board-member-body .member-container-two .member-container-two-container .member-details h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
}

.about-board-members .board-member-body .member-container-two .member-container-two-container .border-curve {
  border-radius: 15px;
}

.about-board-members .board-member-body .member-container-two .member-container-two-container .border-curve-left {
  border-top-left-radius: 100px;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-two .member-container-two-container .border-curve-left {
    border-radius: 15px;
  }
}

.about-board-members .board-member-body .member-container-two .member-container-two-container .border-curve-right {
  border-bottom-right-radius: 100px;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-two .member-container-two-container .border-curve-right {
    border-radius: 15px;
  }
}

.about-board-members .board-member-body .member-container-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0 1em;
  border-bottom: 1px solid #95c11f;
  position: relative;
}

.about-board-members .board-member-body .member-container-three .green-box {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -20px;
  left: 70%;
}

.about-board-members .board-member-body .member-container-three .green-box .green-box-middle {
  width: 15px;
  height: 15px;
  background-color: #95c11f;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-three {
    gap: 3em 0;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.about-board-members .board-member-body .member-container-three .member-container-three-container {
  text-align: center;
  position: relative;
}

.about-board-members .board-member-body .member-container-three .member-container-three-container .member-image {
  height: 25vh;
  overflow: hidden;
}

@media screen and (min-width: 1441px) {
  .about-board-members .board-member-body .member-container-three .member-container-three-container .member-image {
    height: 30vh;
  }
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-three .member-container-three-container .member-image {
    height: 30vh;
  }
}

.about-board-members .board-member-body .member-container-three .member-container-three-container .member-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-board-members .board-member-body .member-container-three .member-container-three-container .member-details {
  color: #4A4A4A;
  margin-top: 5%;
}

.about-board-members .board-member-body .member-container-three .member-container-three-container .member-details h4 {
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

.about-board-members .board-member-body .member-container-three .member-container-three-container .member-details h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
}

.about-board-members .board-member-body .member-container-three .member-container-three-container .border-curve {
  border-radius: 15px;
}

.about-board-members .board-member-body .member-container-three .member-container-three-container .border-curve-left {
  border-top-left-radius: 100px;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-three .member-container-three-container .border-curve-left {
    border-radius: 15px;
  }
}

.about-board-members .board-member-body .member-container-three .member-container-three-container .border-curve-right {
  border-bottom-right-radius: 100px;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-three .member-container-three-container .border-curve-right {
    border-radius: 15px;
  }
}

.about-board-members .board-member-body .member-container-four {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0 1em;
  position: relative;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-four {
    gap: 3em 0;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.about-board-members .board-member-body .member-container-four .member-container-four-container {
  text-align: center;
  position: relative;
}

.about-board-members .board-member-body .member-container-four .member-container-four-container .member-image {
  height: 25vh;
  overflow: hidden;
}

@media screen and (min-width: 1441px) {
  .about-board-members .board-member-body .member-container-four .member-container-four-container .member-image {
    height: 30vh;
  }
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-four .member-container-four-container .member-image {
    height: 30vh;
  }
}

.about-board-members .board-member-body .member-container-four .member-container-four-container .member-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-board-members .board-member-body .member-container-four .member-container-four-container .member-details {
  color: #4A4A4A;
  margin-top: 5%;
}

.about-board-members .board-member-body .member-container-four .member-container-four-container .member-details h4 {
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

.about-board-members .board-member-body .member-container-four .member-container-four-container .member-details h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
}

.about-board-members .board-member-body .member-container-four .member-container-four-container .border-curve {
  border-radius: 15px;
}

.about-board-members .board-member-body .member-container-four .member-container-four-container .border-curve-left {
  border-top-left-radius: 100px;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-four .member-container-four-container .border-curve-left {
    border-radius: 15px;
  }
}

.about-board-members .board-member-body .member-container-four .member-container-four-container .border-curve-right {
  border-bottom-right-radius: 100px;
}

@media screen and (max-width: 601px) {
  .about-board-members .board-member-body .member-container-four .member-container-four-container .border-curve-right {
    border-radius: 15px;
  }
}

.stories-section .stories-header {
  padding: 0 10%;
}

.stories-section .stories-header img {
  width: 100%;
}

.stories-section .stories-body {
  padding: 10% 7% 5% 7%;
}

.stories-section .stories-body img {
  width: 100%;
}

.stories-section .stories-body .stories-body-content {
  padding: 5% 3% 0 3%;
}

@media screen and (min-width: 1441px) {
  .stories-section .stories-body .stories-body-content {
    padding-top: 10%;
  }
}

.stories-section .stories-body .stories-body-content h4 {
  font-size: 9vmin;
  font-weight: 900;
  color: #0b612d;
  text-transform: capitalize;
  margin-bottom: 0;
}

.stories-section .stories-body .stories-body-content h2 {
  font-size: 13vmin;
  font-weight: 900;
  color: #0b612d;
  text-transform: capitalize;
}

.stories-section .stories-body .stories-body-content .stories-details {
  margin-top: 2rem;
}

.stories-section .stories-body .stories-body-content .stories-details p {
  font-size: 18px;
  color: #4A4A4A;
}

@media screen and (min-width: 1441px) {
  .stories-section .stories-body .stories-body-content .stories-details p {
    font-size: 20px;
  }
}

.stories-section .stories-body .stories-body-content .stories-btn {
  margin-top: 2rem;
}

.stories-section .stories-body .stories-body-content .stories-btn button {
  outline: none;
  background: inherit;
  border: 2px solid #95c11f;
  padding: 1% 5%;
  font-size: 18px;
  color: #0b612d;
  background: inherit;
  text-transform: capitalize;
  border-radius: 10px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.stories-section .stories-body .stories-body-content .stories-btn button:hover {
  background-color: #0b612d;
  color: #95c11f;
  border: 2px solid #0b612d;
}

.footer-section {
  height: 350px;
  margin-top: 5%;
}

.footer-section .footer-grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.footer-section .footer-grid .footer-logo {
  height: 100%;
  padding: 5%;
}

.footer-section .footer-grid .footer-logo img {
  height: 7.5vmin;
}

.footer-section .footer-grid .footer-content {
  background-image: url("../assets/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-section .footer-grid .footer-content .footer-content-container {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 0 5%;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  color: #ffffff;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-data .address-title {
  text-align: right;
  padding-right: 10%;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-data .address-title h6 {
  font-weight: 600;
  margin-top: 2px;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-data .address-data p {
  margin-left: 2%;
  font-size: 14px;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-social .social-collection a {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  background-color: #95c11f;
  color: #0b612d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 0.5rem;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-social .social-collection a:last-child {
  margin-right: 0;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-social .social-collection a:hover {
  color: #ffffff;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-social p {
  color: #ffffff;
  font-size: 12px;
  margin-top: 7.5%;
}

@media screen and (max-width: 601px) {
  .header-section .navigation-container .logo-container .header-logo {
    height: 30%;
  }
  .header-section .navigation-container .logo-container .navigation-icon {
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-section .navigation-container .navigation-menu {
    height: auto;
    left: -100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    z-index: 1000;
    border-radius: 0;
    padding: 5% 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-section .navigation-container .navigation-menu a {
    margin-top: 2rem;
    padding: 2% 0;
  }
  .header-section .navigation-container .navigation-menu .dropdown-container {
    margin-top: 7.5%;
  }
  .header-section .navigation-container .navigation-menu .dropdown-container ul {
    background-color: #ffffff;
  }
  .header-section .navigation-container .navigation-menu .dropdown-container ul li a {
    color: #0b612d;
  }
  .header-section .header-content .header-tagline {
    width: 100%;
    height: 45vh;
    border-top-left-radius: 150px;
    top: 0;
    right: 0;
  }
  .header-section .header-content .header-tagline .header-leaf-left img {
    height: 55vmin;
  }
  .header-section .header-content .header-tagline .header-tagline-content {
    margin-left: 5%;
    width: 85%;
  }
  .header-section .header-content .header-tagline .header-tagline-content h1 {
    font-size: 9vmin;
  }
  .info-container {
    height: 180px;
    width: 36px;
  }
  .info-container .info-icon {
    padding: 15px 5px;
    border-bottom: 1px solid #ffffff;
    margin-top: 0;
    background-color: #0b612d;
  }
  .info-container .info-icon img {
    width: 18px;
  }
  .info-box-container .search-input {
    height: 300px;
    position: fixed;
    bottom: 0;
    right: 65px;
    z-index: 5000;
    -webkit-transform: translateX(425px);
            transform: translateX(425px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .info-box-container .search-input input {
    width: 250px;
    font-size: 16px;
    margin-top: 130px;
    margin-right: -30px;
  }
  .info-box-container .search-input img {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
  .info-box-container .phone-hover {
    height: auto;
    padding: 1% 0;
    position: fixed;
    bottom: 7vh;
    right: 36px;
    border-radius: 5px;
    z-index: 5000;
    width: 250px;
  }
  .info-box-container .phone-hover p {
    font-size: 16px;
    margin: 0;
    padding: 1%;
    color: #0b612d;
  }
  .info-box-container .contact-input-box {
    height: auto;
    width: 300px;
    right: 36px;
  }
  .info-box-container .contact-input-box h2 {
    color: #0b612d;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 1rem;
  }
  .info-box-container .contact-input-box .input-collection label {
    color: #0b612d;
    font-weight: 600;
    margin-top: 1rem;
    text-transform: capitalize;
  }
  .info-box-container .contact-input-box .input-collection button {
    padding: 6px 30px;
    font-size: 16px;
    margin-top: 0.5rem;
  }
  .vision-container .vision-box-container .vision-box {
    height: 35vh;
    background-color: #13A438;
  }
  .vision-container .vision-box-container .vision-box .vision-box-content {
    width: 100%;
    padding: 0 5%;
  }
  .vision-container .vision-box-container .vision-box .vision-box-content h2 {
    color: #ffffff;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
  }
  .vision-container .vision-box-container .vision-box .vision-box-content p {
    font-size: 18px;
  }
  .vision-container .vision-box-container .vision-left {
    border-top-left-radius: 100px;
  }
  .vision-container .vision-box-container .vision-right {
    border-bottom-right-radius: 100px;
  }
  .services {
    padding: 15% 10%;
  }
  .services .services-item-container img {
    width: 100%;
  }
  .services .services-content {
    padding-left: 0;
    padding-top: 10%;
  }
  .services .services-content h2 {
    color: #ffffff;
    font-size: 6vmin;
  }
  .services .services-content button {
    font-size: 16px;
    color: #ffffff;
    margin-top: 1rem;
  }
  .inception-container .inception-content .inception-header {
    text-align: left;
  }
  .inception-container .inception-content .inception-header h2 {
    font-size: 36px;
  }
  .inception-container .inception-content .inception-body {
    text-align: left;
    margin: 0 auto;
    width: 100%;
  }
  .inception-container .inception-content .inception-body p {
    font-size: 17px;
    color: #4A4A4A;
    margin-top: 10%;
  }
  .annual-report-section .annual-bottom {
    height: 800px;
    position: relative;
  }
  .annual-report-section .annual-bottom .annual-stroke {
    position: absolute;
    top: -10vmin;
  }
  .annual-report-section .annual-bottom .annual-stroke img {
    height: 20vmin;
  }
  .annual-report-section .annual-bottom .annual-reports {
    padding: 5% 10%;
    position: absolute;
    bottom: 25%;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
    left: 0;
    width: 100%;
  }
  .annual-report-section .annual-bottom .annual-reports .annual-reports-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 3%;
  }
  .annual-report-section .annual-bottom .annual-reports .annual-reports-grid h3 {
    color: #ffffff;
    font-size: 8vmin;
    font-weight: 900;
  }
  .annual-report-section .annual-bottom .annual-reports .annual-reports-grid p {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
  }
  .proud-container .proud-content .proud-header {
    text-align: left;
  }
  .proud-container .proud-content .proud-header h2 {
    font-size: 36px;
  }
  .proud-container .proud-content .proud-body {
    text-align: left;
    margin: 0 auto;
    width: 100%;
  }
  .proud-container .proud-content .proud-body p {
    font-size: 17px;
    color: #4A4A4A;
    margin-top: 10%;
  }
  .proud-container .proud-footer {
    text-align: left;
  }
  .proud-container .proud-footer h4 {
    font-size: 20px;
  }
  .proud-report-text .proud-text-container p {
    font-size: 16px;
    text-align: left;
  }
  .footer-section {
    height: auto;
  }
  .footer-section .footer-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-section .footer-grid .footer-logo {
    padding: 10%;
  }
  .footer-section .footer-grid .footer-logo img {
    height: 15vmin;
  }
  .footer-section .footer-grid .footer-content {
    height: 500px;
    width: 100%;
    background-color: #0b612d;
    padding: 10%;
    border-top-left-radius: 100px;
  }
  .footer-section .footer-grid .footer-content .footer-content-container {
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 5% 10%;
  }
  .footer-section .footer-grid .footer-content .footer-content-container .footer-content-social {
    padding: 0 10%;
    margin-top: 10%;
  }
}
/*# sourceMappingURL=about.css.map */