@import "./global.scss";

// header and navigation
.header-section {
    height: 100vh;
    .navigation-container {
        height: 15%;
        background-color: $white;
        position: relative;
        .logo-container {
            width: 85%;
            margin: 0 auto;
            height: 100%;
            position: relative;
            .header-logo {
                position: absolute;
                height: 50%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                @media screen and (max-width: 601px) {
                    height: 25%;
                }
            }
            .navigation-icon {
                position: absolute;
                height: 25px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                display: none;
                transition: 0.3s;
            }
            .navigation-cross {
                position: absolute;
                height: 25px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                display: none;
                transition: 0.3s;
            }
        }
        .navigation-menu {
            height: $navigationMeasure;
            background: $primaryColor;
            position: absolute;
            right: 0;
            width: 65%;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: -($navigationMeasure / 2);
            z-index: 1000;
            padding: 0 1%;
            a {
                text-decoration: none;
                text-transform: capitalize;
                font-size: 17px;
                font-weight: 600;
                color: $white;
                padding: 1%;
                transition: 0.3s;
                &:hover {
                    color: $secondaryColor;
                }
                img {
                    height: 110px;
                }
            }
            @media screen and (min-width: 1441px) {
                a {
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
            .dropdown-container {
                position: relative;
                .container-btn {
                    cursor: pointer;
                    a {
                        &:hover {
                            color: $white;
                        }
                    }
                }
                .down-arrow {
                    position: absolute;
                    right: -50%;
                    top: 10%;
                    transition: 0.3s;
                    img {
                        width: 15px;
                    }
                }
                ul {
                    margin: 0;
                    position: absolute;
                    top: 200%;
                    left: -50%;
                    background-color: $primaryColor;
                    list-style: none;
                    padding-left: 0;
                    padding: 0 20%;
                    border-radius: 5px;
                    display: none;
                    animation: menuAnimate 0.3s;
                    li {
                        width: 120px;
                        padding: 10px;
                        border-bottom: 1px solid $lightGreen;
                        &:last-child {
                            border-bottom: 0;
                        }
                        a {
                            font-size: 17px;
                            font-weight: 600;
                        }
                    }
                }
            }
            @media screen and (min-width: 1441px) {
                a {
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
        }
    }
    .header-content {
        height: 85%;
        background-image: url("../assets/people/corporate-bg.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        @media screen and (max-width: 601px) {
            background-image: url("../assets/people/corporate-bg-mobile.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .header-tagline {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 50%;
            background-color: $lightGreen;
            height: 60vh;
            z-index: 10;
            border-top-left-radius: 300px;
            @media screen and (min-width: 1441px) {
                border-top-left-radius: 350px;
                .header-leaf-left {
                    img {
                        height: 55vmin;
                    }
                }
            }
            .header-leaf-left {
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
                img {
                    height: 45vmin;
                }
            }
            .header-tagline-content {
                width: 70%;
                margin-left: 10%;
                h1 {
                    font-weight: 900;
                    color: $white;
                    font-size: 6vmin;
                    margin-bottom: 0;
                }
                h2{
                    font-weight: 600;
                    color: $white;
                    font-size: calc(16px + 2vmin);
                }
                button{
                    outline: 0;
                    border: 2px solid $primaryColor;
                    padding: 6px 40px;
                    font-size: 18px;
                    text-transform: capitalize;
                    background-color: $primaryColor;
                    color: $white;
                    border-radius: 10px;
                    margin-top: 2.5%;
                    font-weight: 600;
                    transition: 0.3s;
                    &:hover{
                        background-color: inherit;
                        color: $primaryColor;
                    }
                }
            }
        }
    }
}

@keyframes menuAnimate {
    0% {
        opacity: 0;
        transform: translateY(-25%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
// info container
.info-container {
    background: $primaryColor;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 300px;
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .info-icon {
        padding: 20px 0;
        border-bottom: 1px solid #95c11f;
        margin-top: 15px;
        cursor: pointer;
        &:last-child {
            border: 0;
        }
        img {
            height: 25px;
        }
    }
}

// info boxes container

.info-box-container {
    .search-input {
        height: 300px;
        position: fixed;
        bottom: 0;
        right: 65px;
        z-index: 5000;
        transform: translateX(425px);
        transition: 0.3s;
        input {
            width: 400px;
            border: 2px solid $primaryColor;
            background-color: rgba($color: #fff, $alpha: 0.8);
            padding: 2.5% 5%;
            outline: none;
            font-size: 18px;
            border-radius: 5px;
            color: $primaryColor;
            margin-top: 50px;
            margin-right: -10px;
        }
        img {
            height: 25px;
            width: 25px;
            cursor: pointer;
        }
    }
    .phone-hover {
        height: 50px;
        position: fixed;
        bottom: 14vh;
        right: 65px;
        border-radius: 5px;
        z-index: 5000;
        border: 2px solid $primaryColor;
        background-color: rgba($color: #fff, $alpha: 0.8);
        width: 300px;
        transform: translateX(400px);
        transition: 0.3s;
        p {
            font-size: 18px;
            color: $primaryColor;
            margin: 0;
            font-weight: 600;
            padding: 0 1%;
        }
    }
    .contact-input-box {
        height: auto;
        position: fixed;
        bottom: 0;
        right: 65px;
        z-index: 5000;
        border: 2px solid $primaryColor;
        background-color: rgba($color: #fff, $alpha: 0.85);
        padding: 1% 3%;
        width: 500px;
        transform: translateX(565px);
        transition: 0.3s;
        h2 {
            color: $primaryColor;
            text-transform: uppercase;
            font-weight: 900;
            margin-top: 1rem;
        }
        .input-collection {
            input,
            textarea {
                display: block;
                padding: 6px;
                width: 100%;
                outline: none;
                background-color: inherit;
            }
            input {
                border: 0;
                border-bottom: 2px solid $primaryColor;
            }
            textarea {
                border: 2px solid $primaryColor;
                height: 100px;
                background-color: $white;
            }
            label {
                color: $primaryColor;
                font-weight: 600;
                margin-top: 1rem;
                text-transform: capitalize;
            }
            button {
                outline: none;
                border: 0;
                background-color: $primaryColor;
                color: $white;
                padding: 8px 30px;
                font-size: 18px;
                margin-top: 1rem;
                text-transform: capitalize;
                border-radius: 10px;
                border: 2px solid $primaryColor;
            }
        }
        .cross-contact {
            position: absolute;
            top: 3%;
            left: 3%;
            cursor: pointer;
            img {
                height: 25px;
                width: 25px;
            }
        }
    }
}

// vision container
.vision-container {
    padding: 5% 10% 20% 10%;
    position: relative;
    .grid-leaf-left {
        position: absolute;
        top: 0;
        left: 0;
        img {
            height: 25vmin;
        }
    }
    .grid-leaf-right {
        position: absolute;
        bottom: 0;
        right: 0;
        img {
            height: 75vmin;
        }
    }
    .vision-box-container {
        text-align: center;
        h2{
            color: $primaryColor;
            font-weight: 900;
            font-size: calc(32px + 2vmin);
            text-transform: capitalize;
            padding-bottom: 2.5%;
        }
        p{
            color: $text;
            font-size: calc(12px + 1vmin);
            margin-top: 3%;
        }
        .vision-left {
            border-top-left-radius: 200px;
        }
        .vision-right {
            border-bottom-right-radius: 200px;
        }
    }
}
// management-leadership
.management-leadership{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url('../assets/people/management-leadership.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    @media screen and (max-width: 601px) {
        height: 25vh;
    }
    .management-leadership-image{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 25%);
        width: 75%;
        top: -25%;
        img{
            width: 100%;
            height: 100%;
        }
        @media screen and (min-width: 1441px) {
            transform: translate(-50%, 35%);
            top: -35%;
        }
    }
}

// board-members
.account-finance-members {
    padding: 0 10% 10% 10%;
    position: relative;
    .account-finance-image{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        img{
            width: 100%;
        }
    }
    .account-finance-body {
        padding: 5% 0;
        .member-container {
            padding: 5% 0;
            margin-top: 1%;
        }
        .member-container-one {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-bottom: 1px solid $lightGreen;
            position: relative;
            .member-container-one-container {
                width: 22%;
                @media screen and (max-width: 601px) {
                    width: 100%;
                }
                .member-image {
                    overflow: hidden;
                    border-top-right-radius: 100px;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .member-details {
                    color: $text;
                    margin-top: 4%;
                    h4 {
                        text-transform: capitalize;
                        font-size: 1em;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                    h6 {
                        font-size: 0.9em;
                        font-weight: 600;
                        text-transform: capitalize;
                        margin-bottom: 0;
                    }
                }
            }
            .green-box {
                position: absolute;
                height: 40px;
                width: 40px;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: -20px;
                left: 70%;
                .green-box-middle {
                    width: 15px;
                    height: 15px;
                    background-color: $lightGreen;
                }
            }
        }
        // grid two
        .member-container-two {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 0 1em;
            border-bottom: 1px solid $lightGreen;
            position: relative;
            .green-box {
                position: absolute;
                height: 40px;
                width: 40px;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: -20px;
                left: 30%;
                .green-box-middle {
                    width: 15px;
                    height: 15px;
                    background-color: $lightGreen;
                }
            }
            @media screen and (max-width: 601px) {
                gap: 3em 0;
                grid-template-columns: repeat(1, 1fr);
            }
            .member-container-two-container {
                text-align: center;
                position: relative;
                .member-image {
                    height: 20vh;
                    overflow: hidden;
                    @media screen and (min-width: 1441px) {
                        height: 25vh;
                    }
                    @media screen and (max-width: 601px) {
                        height: 25vh;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .member-details {
                    color: $text;
                    margin-top: 5%;
                    h4 {
                        text-transform: capitalize;
                        font-size: 1em;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                    h6 {
                        font-size: 0.9em;
                        font-weight: 600;
                        text-transform: capitalize;
                        margin-bottom: 0;
                    }
                }
                .border-curve {
                    border-radius: 15px;
                }
                .border-curve-left {
                    border-top-left-radius: 100px;
                    @media screen and (max-width: 601px) {
                        border-radius: 15px;
                    }
                }
                .border-curve-right {
                    border-bottom-right-radius: 100px;
                    @media screen and (max-width: 601px) {
                        border-radius: 15px;
                    }
                }
            }
        }
        // grid three
        .member-container-three {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0 1em;
            border-bottom: 1px solid $lightGreen;
            position: relative;
            .green-box {
                position: absolute;
                height: 40px;
                width: 40px;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: -20px;
                left: 70%;
                .green-box-middle {
                    width: 15px;
                    height: 15px;
                    background-color: $lightGreen;
                }
            }
            @media screen and (max-width: 601px) {
                gap: 3em 0;
                grid-template-columns: repeat(1, 1fr);
            }
            .member-container-three-container {
                text-align: center;
                position: relative;
                .member-image {
                    height: 25vh;
                    overflow: hidden;
                    @media screen and (min-width: 1441px) {
                        height: 30vh;
                    }
                    @media screen and (max-width: 601px) {
                        height: 30vh;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .member-details {
                    color: $text;
                    margin-top: 5%;
                    h4 {
                        text-transform: capitalize;
                        font-size: 1em;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                    h6 {
                        font-size: 0.9em;
                        font-weight: 600;
                        text-transform: capitalize;
                        margin-bottom: 0;
                    }
                }
                .border-curve {
                    border-radius: 15px;
                }
                .border-curve-left {
                    border-top-left-radius: 100px;
                    @media screen and (max-width: 601px) {
                        border-radius: 15px;
                    }
                }
                .border-curve-right {
                    border-bottom-right-radius: 100px;
                    @media screen and (max-width: 601px) {
                        border-radius: 15px;
                    }
                }
            }
        }
        // grid three
        .member-container-four {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0 1em;
            position: relative;
            @media screen and (max-width: 601px) {
                gap: 3em 0;
                grid-template-columns: repeat(1, 1fr);
            }
            .member-container-four-container {
                text-align: center;
                position: relative;
                .member-image {
                    height: 25vh;
                    overflow: hidden;
                    @media screen and (min-width: 1441px) {
                        height: 30vh;
                    }
                    @media screen and (max-width: 601px) {
                        height: 30vh;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .member-details {
                    color: $text;
                    margin-top: 5%;
                    h4 {
                        text-transform: capitalize;
                        font-size: 1em;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                    h6 {
                        font-size: 0.9em;
                        font-weight: 600;
                        text-transform: capitalize;
                        margin-bottom: 0;
                    }
                }
                .border-curve {
                    border-radius: 15px;
                }
                .border-curve-left {
                    border-top-left-radius: 100px;
                    @media screen and (max-width: 601px) {
                        border-radius: 15px;
                    }
                }
                .border-curve-right {
                    border-bottom-right-radius: 100px;
                    @media screen and (max-width: 601px) {
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}


// account & finance
.account-finance{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url('../assets/people/account-finance.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    @media screen and (max-width: 601px) {
        height: 25vh;
    }
}


// stories
.stories-section {
    .stories-header {
        padding: 0 10%;
        img {
            width: 100%;
        }
    }
    .stories-body {
        padding: 10% 7% 5% 7%;
        img {
            width: 100%;
        }
        .stories-body-content {
            padding: 5% 3% 0 3%;
            @media screen and (min-width: 1441px) {
                padding-top: 10%;
            }
            h4 {
                font-size: 9vmin;
                font-weight: 900;
                color: $primaryColor;
                text-transform: capitalize;
                margin-bottom: 0;
            }
            h2 {
                font-size: 13vmin;
                font-weight: 900;
                color: $primaryColor;
                text-transform: capitalize;
            }
            .stories-details {
                margin-top: 2rem;
                p {
                    font-size: 18px;
                    color: $text;
                }
                @media screen and (min-width: 1441px) {
                    p {
                        font-size: 20px;
                    }
                }
            }
            .stories-btn {
                margin-top: 2rem;
                button {
                    outline: none;
                    background: inherit;
                    border: 2px solid $lightGreen;
                    padding: 1% 5%;
                    font-size: 18px;
                    color: $primaryColor;
                    background: inherit;
                    text-transform: capitalize;
                    border-radius: 10px;
                    font-weight: 700;
                    transition: 0.3s;
                    &:hover {
                        background-color: $primaryColor;
                        color: $lightGreen;
                        border: 2px solid $primaryColor;
                    }
                }
            }
        }
    }
}

.footer-section {
    height: 350px;
    margin-top: 5%;
    .footer-grid {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        .footer-logo {
            height: 100%;
            padding: 5%;
            img {
                height: 7.5vmin;
            }
        }
        .footer-content {
            background-image: url("../assets/footer-bg.png");
            background-size: cover;
            background-repeat: no-repeat;
            .footer-content-container {
                width: 80%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 0 5%;
                .footer-content-data {
                    display: grid;
                    grid-template-columns: 1fr 5fr;
                    color: $white;
                    .address-title {
                        text-align: right;
                        padding-right: 10%;
                        h6 {
                            font-weight: 600;
                            margin-top: 2px;
                        }
                    }
                    .address-data {
                        p {
                            margin-left: 2%;
                            font-size: 14px;
                        }
                    }
                }
                .footer-content-social {
                    .social-collection {
                        a {
                            text-decoration: none;
                            display: inline-flex;
                            width: 30px;
                            height: 30px;
                            background-color: #95c11f;
                            color: $primaryColor;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            margin-right: 0.5rem;
                            font-size: 16px;
                            transition: 0.3s;
                            &:last-child {
                                margin-right: 0;
                            }
                            &:hover {
                                color: $white;
                            }
                        }
                    }
                    p {
                        color: $white;
                        font-size: 12px;
                        margin-top: 7.5%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 601px) {
    // header and navigation
    .header-section {
        .navigation-container {
            .logo-container {
                .header-logo {
                    height: 30%;
                }
                .navigation-icon {
                    display: block;
                    transition: 0.3s;
                }
            }
            .navigation-menu {
                height: auto;
                left: -100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                margin-top: 0;
                z-index: 1000;
                border-radius: 0;
                padding: 5% 0;
                transition: 0.3s;
                a {
                    margin-top: 2rem;
                    padding: 2% 0;
                }
                .dropdown-container {
                    margin-top: 7.5%;
                    ul {
                        background-color: $white;
                        li {
                            a {
                                color: $primaryColor;
                            }
                        }
                    }
                }
            }
        }
        .header-content {
            .header-tagline {
                width: 100%;
                height: 45vh;
                border-top-left-radius: 150px;
                top: 0;
                right: 0;
                .header-leaf-left {
                    img {
                        height: 55vmin;
                    }
                }
                .header-tagline-content {
                    margin-left: 5%;
                    width: 85%;
                    h1 {
                        font-size: 9vmin;
                    }
                }
            }
        }
    }
    // info container
    .info-container {
        height: 180px;
        width: 36px;
        .info-icon {
            padding: 15px 5px;
            border-bottom: 1px solid $white;
            margin-top: 0;
            background-color: $primaryColor;
            img {
                width: 18px;
            }
        }
    }
    // info boxes container

    .info-box-container {
        .search-input {
            height: 300px;
            position: fixed;
            bottom: 0;
            right: 65px;
            z-index: 5000;
            transform: translateX(425px);
            transition: 0.3s;
            input {
                width: 250px;
                font-size: 16px;
                margin-top: 130px;
                margin-right: -30px;
            }
            img {
                height: 25px;
                width: 25px;
                cursor: pointer;
            }
        }
        .phone-hover {
            height: auto;
            padding: 1% 0;
            position: fixed;
            bottom: 7vh;
            right: 36px;
            border-radius: 5px;
            z-index: 5000;
            width: 250px;
            p {
                font-size: 16px;
                margin: 0;
                padding: 1%;
                color: $primaryColor;
            }
        }
        .contact-input-box {
            height: auto;
            width: 300px;
            right: 36px;
            h2 {
                color: $primaryColor;
                text-transform: uppercase;
                font-weight: 900;
                margin-top: 1rem;
            }
            .input-collection {
                label {
                    color: $primaryColor;
                    font-weight: 600;
                    margin-top: 1rem;
                    text-transform: capitalize;
                }
                button {
                    padding: 6px 30px;
                    font-size: 16px;
                    margin-top: 0.5rem;
                }
            }
        }
    }
    // vision container
    .vision-container {
        .vision-box-container {
            .vision-box {
                height: 35vh;
                background-color: $border;
                .vision-box-content {
                    width: 100%;
                    padding: 0 5%;
                    h2 {
                        color: $white;
                        font-weight: 900;
                        font-size: 32px;
                        text-transform: uppercase;
                    }
                    p {
                        font-size: 18px;
                    }
                }
            }
            .vision-left {
                border-top-left-radius: 100px;
            }
            .vision-right {
                border-bottom-right-radius: 100px;
            }
        }
    }
    // services section
    .services {
        padding: 15% 10%;
        .services-item-container {
            img {
                width: 100%;
            }
        }
        .services-content {
            padding-left: 0;
            padding-top: 10%;
            h2 {
                color: $white;
                font-size: 6vmin;
            }
            button {
                font-size: 16px;
                color: $white;
                margin-top: 1rem;
            }
        }
    }
    // inception container
    .inception-container {
        .inception-content {
            .inception-header {
                text-align: left;
                h2 {
                    font-size: 36px;
                }
            }
            .inception-body {
                text-align: left;
                margin: 0 auto;
                width: 100%;
                p {
                    font-size: 17px;
                    color: $text;
                    margin-top: 10%;
                }
            }
        }
    }
    .annual-report-section {
        .annual-bottom {
            height: 800px;
            position: relative;
            .annual-stroke {
                position: absolute;
                top: -(20vmin / 2);
                img {
                    height: 20vmin;
                }
            }
            .annual-reports {
                padding: 5% 10%;
                position: absolute;
                bottom: 25%;
                transform: translateY(25%);
                left: 0;
                width: 100%;
                .annual-reports-grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 3%;
                    h3 {
                        color: $white;
                        font-size: 8vmin;
                        font-weight: 900;
                    }
                    p {
                        font-size: 18px;
                        font-weight: 700;
                        color: $white;
                    }
                }
            }
        }
    }

    // proud container
    .proud-container {
        .proud-content {
            .proud-header {
                text-align: left;
                h2 {
                    font-size: 36px;
                }
            }
            .proud-body {
                text-align: left;
                margin: 0 auto;
                width: 100%;
                p {
                    font-size: 17px;
                    color: $text;
                    margin-top: 10%;
                }
            }
        }
        .proud-footer {
            text-align: left;
            h4 {
                font-size: 20px;
            }
        }
    }
    // proud text

    .proud-report-text {
        .proud-text-container {
            p {
                font-size: 16px;
                text-align: left;
            }
        }
    }

    // footer
    .footer-section {
        height: auto;
        .footer-grid {
            grid-template-columns: 1fr;
            .footer-logo {
                padding: 10%;
                img {
                    height: 15vmin;
                }
            }
            .footer-content {
                height: 500px;
                width: 100%;
                background-color: $primaryColor;
                padding: 10%;
                border-top-left-radius: 100px;
                .footer-content-container {
                    width: 100%;
                    grid-template-columns: 1fr;
                    gap: 5% 10%;
                    .footer-content-social {
                        padding: 0 10%;
                        margin-top: 10%;
                    }
                }
            }
        }
    }
}
