@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header-section {
  height: 100vh;
}

.header-section .navigation-container {
  height: 15%;
  background-color: #ffffff;
  position: relative;
}

.header-section .navigation-container .logo-container {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.header-section .navigation-container .logo-container .header-logo {
  position: absolute;
  height: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 601px) {
  .header-section .navigation-container .logo-container .header-logo {
    height: 25%;
  }
}

.header-section .navigation-container .logo-container .navigation-icon {
  position: absolute;
  height: 25px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section .navigation-container .logo-container .navigation-cross {
  position: absolute;
  height: 25px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section .navigation-container .navigation-menu {
  height: 60px;
  background: #0b612d;
  position: absolute;
  right: 0;
  width: 65%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -30px;
  z-index: 1000;
}

.header-section .navigation-container .navigation-menu a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  padding: 1%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section .navigation-container .navigation-menu a:hover {
  color: #CC9B2B;
}

.header-section .navigation-container .navigation-menu a img {
  height: 110px;
}

@media screen and (min-width: 1441px) {
  .header-section .navigation-container .navigation-menu a {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.header-section .navigation-container .navigation-menu .dropdown-container {
  position: relative;
}

.header-section .navigation-container .navigation-menu .dropdown-container .container-btn {
  cursor: pointer;
}

.header-section .navigation-container .navigation-menu .dropdown-container .container-btn a:hover {
  color: #ffffff;
}

.header-section .navigation-container .navigation-menu .dropdown-container .down-arrow {
  position: absolute;
  right: -50%;
  top: 10%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section .navigation-container .navigation-menu .dropdown-container .down-arrow img {
  width: 15px;
}

.header-section .navigation-container .navigation-menu .dropdown-container ul {
  margin: 0;
  position: absolute;
  top: 200%;
  left: -50%;
  background-color: #0b612d;
  list-style: none;
  padding-left: 0;
  padding: 0 20%;
  border-radius: 5px;
  display: none;
  -webkit-animation: menuAnimate 0.3s;
          animation: menuAnimate 0.3s;
}

.header-section .navigation-container .navigation-menu .dropdown-container ul li {
  width: 120px;
  padding: 10px;
  border-bottom: 1px solid #95c11f;
}

.header-section .navigation-container .navigation-menu .dropdown-container ul li:last-child {
  border-bottom: 0;
}

.header-section .navigation-container .navigation-menu .dropdown-container ul li a {
  font-size: 17px;
  font-weight: 600;
}

.header-section .header-content {
  height: 85%;
  background-image: url("../assets/service-page/service-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 601px) {
  .header-section .header-content {
    background-image: url("../assets/service-page/service-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.header-section .header-content .header-tagline {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: #95c11f;
  height: 65vh;
  z-index: 10;
  border-top-left-radius: 300px;
}

@media screen and (min-width: 1441px) {
  .header-section .header-content .header-tagline {
    border-top-left-radius: 350px;
  }
  .header-section .header-content .header-tagline .header-leaf-left img {
    height: 55vmin;
  }
}

.header-section .header-content .header-tagline .header-leaf-left {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.header-section .header-content .header-tagline .header-leaf-left img {
  height: 45vmin;
}

.header-section .header-content .header-tagline .header-tagline-content {
  width: 70%;
  margin-left: 10%;
}

.header-section .header-content .header-tagline .header-tagline-content h1 {
  font-weight: 900;
  color: #ffffff;
  font-size: 6vmin;
  margin-bottom: 0;
}

@-webkit-keyframes menuAnimate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes menuAnimate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.info-container {
  background: #0b612d;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  padding: 1%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-container .info-icon {
  padding: 20px 0;
  border-bottom: 1px solid #95c11f;
  margin-top: 15px;
  cursor: pointer;
}

.info-container .info-icon:last-child {
  border: 0;
}

.info-container .info-icon img {
  height: 25px;
}

.info-box-container .search-input {
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 65px;
  z-index: 5000;
  -webkit-transform: translateX(425px);
          transform: translateX(425px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.info-box-container .search-input input {
  width: 400px;
  border: 2px solid #0b612d;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5% 5%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  color: #0b612d;
  margin-top: 50px;
  margin-right: -10px;
}

.info-box-container .search-input img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.info-box-container .phone-hover {
  height: 50px;
  position: fixed;
  bottom: 14vh;
  right: 65px;
  border-radius: 5px;
  z-index: 5000;
  border: 2px solid #0b612d;
  background-color: rgba(255, 255, 255, 0.8);
  width: 300px;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.info-box-container .phone-hover p {
  font-size: 18px;
  color: #0b612d;
  margin: 0;
  font-weight: 600;
  padding: 0 1%;
}

.info-box-container .contact-input-box {
  height: auto;
  position: fixed;
  bottom: 0;
  right: 65px;
  z-index: 5000;
  border: 2px solid #0b612d;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1% 3%;
  width: 500px;
  -webkit-transform: translateX(565px);
          transform: translateX(565px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.info-box-container .contact-input-box h2 {
  color: #0b612d;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 1rem;
}

.info-box-container .contact-input-box .input-collection input,
.info-box-container .contact-input-box .input-collection textarea {
  display: block;
  padding: 6px;
  width: 100%;
  outline: none;
  background-color: inherit;
}

.info-box-container .contact-input-box .input-collection input {
  border: 0;
  border-bottom: 2px solid #0b612d;
}

.info-box-container .contact-input-box .input-collection textarea {
  border: 2px solid #0b612d;
  height: 100px;
  background-color: #ffffff;
}

.info-box-container .contact-input-box .input-collection label {
  color: #0b612d;
  font-weight: 600;
  margin-top: 1rem;
  text-transform: capitalize;
}

.info-box-container .contact-input-box .input-collection button {
  outline: none;
  border: 0;
  background-color: #0b612d;
  color: #ffffff;
  padding: 8px 30px;
  font-size: 18px;
  margin-top: 1rem;
  text-transform: capitalize;
  border-radius: 10px;
  border: 2px solid #0b612d;
}

.info-box-container .contact-input-box .cross-contact {
  position: absolute;
  top: 3%;
  left: 3%;
  cursor: pointer;
}

.info-box-container .contact-input-box .cross-contact img {
  height: 25px;
  width: 25px;
}

.we-serve-container {
  height: 600px;
}

.we-serve-container .we-serve-header {
  height: 70%;
  text-align: center;
  color: #4A4A4A;
}

.we-serve-container .we-serve-header h3 {
  font-weight: 600;
  font-size: 3.5vmin;
}

.we-serve-container .we-serve-header h2 {
  font-weight: 900;
  font-size: 10vmin;
}

.we-serve-container .we-serve-footer {
  height: 30%;
  background-color: #0b612d;
}

.we-serve-container .we-serve-footer .we-serve-grid-collection {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 0 2%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid {
  margin-top: -10%;
  width: 100%;
  height: 240px;
  background-color: #95c11f;
  cursor: pointer;
  text-align: center;
}

.we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid h2 {
  font-weight: 900;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 30px;
}

.we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid img {
  height: 80px;
  margin-top: 5%;
}

.we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid-first {
  border-top-left-radius: 100px;
}

.we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid-last {
  border-bottom-right-radius: 100px;
}

@media screen and (min-width: 1441px) {
  .we-serve-container {
    height: 800px;
  }
  .we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid {
    margin-top: -10%;
    height: 300px;
  }
  .we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid h2 {
    font-size: 36px;
  }
  .we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid img {
    height: 100px;
  }
  .we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid-first {
    border-top-left-radius: 150px;
  }
  .we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid-last {
    border-bottom-right-radius: 150px;
  }
}

.service-healthcare {
  height: 1000px;
}

.service-healthcare .service-healthcare-header {
  height: 450px;
  position: relative;
}

.service-healthcare .service-healthcare-header .service-right-leaf {
  position: absolute;
  top: 0;
  right: 0;
}

.service-healthcare .service-healthcare-header .service-right-leaf img {
  height: 40vmin;
}

.service-healthcare .service-healthcare-header .healthcare-tagline {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.service-healthcare .service-healthcare-header .healthcare-tagline h2 {
  font-size: 11vmin;
  text-transform: capitalize;
  font-weight: 900;
  color: #CC9B2B;
  margin-bottom: 0;
}

@media screen and (min-width: 1441px) {
  .service-healthcare .service-healthcare-header .healthcare-tagline h2 {
    font-size: 13vmin;
  }
}

.service-healthcare .service-healthcare-footer {
  height: 550px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.service-healthcare .service-healthcare-footer img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-healthcare .service-healthcare-footer .service-healthcare-footer-content {
  background-color: rgba(204, 155, 43, 0.2);
  border-top-right-radius: 250px;
  padding: 7% 5%;
  color: #4A4A4A;
}

.service-healthcare .service-healthcare-footer .service-healthcare-footer-content h4 {
  font-weight: 600;
  font-size: 3vmin;
  margin-bottom: 0;
}

.service-healthcare .service-healthcare-footer .service-healthcare-footer-content h2 {
  font-weight: 900;
  font-size: 6vmin;
  margin-bottom: 0;
  margin-top: 1%;
}

.service-healthcare .service-healthcare-footer .service-healthcare-footer-content p {
  font-size: 18px;
  margin-top: 4%;
  width: 80%;
}

.service-wellbeing {
  height: 900px;
}

.service-wellbeing .service-wellbeing-header {
  height: 350px;
  position: relative;
}

.service-wellbeing .service-wellbeing-header .wellbeing-tagline {
  position: absolute;
  bottom: 1%;
  right: 5%;
}

.service-wellbeing .service-wellbeing-header .wellbeing-tagline h2 {
  font-size: 11vmin;
  text-transform: capitalize;
  font-weight: 900;
  color: #0b612d;
  margin-bottom: 0;
  text-align: right;
}

@media screen and (min-width: 1441px) {
  .service-wellbeing .service-wellbeing-header .wellbeing-tagline h2 {
    font-size: 12vmin;
  }
}

.service-wellbeing .service-wellbeing-footer {
  height: 550px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.service-wellbeing .service-wellbeing-footer img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-wellbeing .service-wellbeing-footer .service-wellbeing-footer-content {
  background-color: rgba(11, 97, 45, 0.2);
  border-top-left-radius: 250px;
  padding: 5% 5% 5% 15%;
  color: #4A4A4A;
  height: 550px;
}

.service-wellbeing .service-wellbeing-footer .service-wellbeing-footer-content h4 {
  font-weight: 600;
  font-size: 3vmin;
  margin-bottom: 0;
  margin-top: 7.5%;
}

.service-wellbeing .service-wellbeing-footer .service-wellbeing-footer-content h2 {
  font-weight: 900;
  font-size: 6vmin;
  margin-bottom: 0;
  margin-top: 2%;
}

.service-wellbeing .service-wellbeing-footer .service-wellbeing-footer-content p {
  font-size: 18px;
  margin-top: 4%;
}

.stories-section .stories-body {
  padding: 10% 7% 5% 7%;
}

.stories-section .stories-body img {
  width: 100%;
}

.stories-section .stories-body .stories-body-content {
  padding: 5% 3% 0 3%;
}

@media screen and (min-width: 1441px) {
  .stories-section .stories-body .stories-body-content {
    padding-top: 10%;
  }
}

.stories-section .stories-body .stories-body-content h4 {
  font-size: 9vmin;
  font-weight: 900;
  color: #0b612d;
  text-transform: capitalize;
  margin-bottom: 0;
}

.stories-section .stories-body .stories-body-content h2 {
  font-size: 13vmin;
  font-weight: 900;
  color: #0b612d;
  text-transform: capitalize;
}

.stories-section .stories-body .stories-body-content .stories-details {
  margin-top: 2rem;
}

.stories-section .stories-body .stories-body-content .stories-details p {
  font-size: 18px;
  color: #4A4A4A;
}

@media screen and (min-width: 1441px) {
  .stories-section .stories-body .stories-body-content .stories-details p {
    font-size: 20px;
  }
}

.stories-section .stories-body .stories-body-content .stories-btn {
  margin-top: 2rem;
}

.stories-section .stories-body .stories-body-content .stories-btn button {
  outline: none;
  background: inherit;
  border: 2px solid #95c11f;
  padding: 1% 5%;
  font-size: 18px;
  color: #0b612d;
  background: inherit;
  text-transform: capitalize;
  border-radius: 10px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.stories-section .stories-body .stories-body-content .stories-btn button:hover {
  background-color: #0b612d;
  color: #95c11f;
  border: 2px solid #0b612d;
}

.footer-section {
  height: 350px;
  margin-top: 5%;
}

.footer-section .footer-grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.footer-section .footer-grid .footer-logo {
  height: 100%;
  padding: 5%;
}

.footer-section .footer-grid .footer-logo img {
  height: 7.5vmin;
}

.footer-section .footer-grid .footer-content {
  background-image: url("../assets/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-section .footer-grid .footer-content .footer-content-container {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 0 5%;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  color: #ffffff;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-data .address-title {
  text-align: right;
  padding-right: 10%;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-data .address-title h6 {
  font-weight: 600;
  margin-top: 2px;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-data .address-data p {
  margin-left: 2%;
  font-size: 14px;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-social .social-collection a {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  background-color: #95c11f;
  color: #0b612d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 0.5rem;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-social .social-collection a:last-child {
  margin-right: 0;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-social .social-collection a:hover {
  color: #ffffff;
}

.footer-section .footer-grid .footer-content .footer-content-container .footer-content-social p {
  color: #ffffff;
  font-size: 12px;
  margin-top: 7.5%;
}

@media screen and (max-width: 601px) {
  .header-section .navigation-container .logo-container .header-logo {
    height: 30%;
  }
  .header-section .navigation-container .logo-container .navigation-icon {
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-section .navigation-container .navigation-menu {
    height: auto;
    left: -100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    z-index: 1000;
    border-radius: 0;
    padding: 5% 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-section .navigation-container .navigation-menu a {
    margin-top: 2rem;
    padding: 2% 0;
  }
  .header-section .header-content .header-tagline {
    width: 100%;
    height: 50vh;
    border-top-left-radius: 150px;
    top: 0;
    right: 0;
  }
  .header-section .header-content .header-tagline .header-leaf-left img {
    height: 55vmin;
  }
  .header-section .header-content .header-tagline .header-tagline-content {
    margin-left: 5%;
    width: 85%;
  }
  .header-section .header-content .header-tagline .header-tagline-content h1 {
    font-size: 9vmin;
  }
  .info-container {
    height: 180px;
    width: 36px;
  }
  .info-container .info-icon {
    padding: 15px 5px;
    border-bottom: 1px solid #ffffff;
    margin-top: 0;
    background-color: #0b612d;
  }
  .info-container .info-icon img {
    width: 18px;
  }
  .info-box-container .search-input {
    height: 300px;
    position: fixed;
    bottom: 0;
    right: 65px;
    z-index: 5000;
    -webkit-transform: translateX(425px);
            transform: translateX(425px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .info-box-container .search-input input {
    width: 250px;
    font-size: 16px;
    margin-top: 130px;
    margin-right: -30px;
  }
  .info-box-container .search-input img {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
  .info-box-container .phone-hover {
    height: auto;
    padding: 1% 0;
    position: fixed;
    bottom: 7vh;
    right: 36px;
    border-radius: 5px;
    z-index: 5000;
    width: 250px;
  }
  .info-box-container .phone-hover p {
    font-size: 16px;
    margin: 0;
    padding: 1%;
    color: #0b612d;
  }
  .info-box-container .contact-input-box {
    height: auto;
    width: 300px;
    right: 36px;
  }
  .info-box-container .contact-input-box h2 {
    color: #0b612d;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 1rem;
  }
  .info-box-container .contact-input-box .input-collection label {
    color: #0b612d;
    font-weight: 600;
    margin-top: 1rem;
    text-transform: capitalize;
  }
  .info-box-container .contact-input-box .input-collection button {
    padding: 6px 30px;
    font-size: 16px;
    margin-top: 0.5rem;
  }
  .we-serve-container {
    height: auto;
  }
  .we-serve-container .we-serve-header {
    height: 300px;
    text-align: center;
    color: #4A4A4A;
  }
  .we-serve-container .we-serve-header h3 {
    font-weight: 600;
    font-size: 18px;
  }
  .we-serve-container .we-serve-header h2 {
    font-weight: 900;
    font-size: 36px;
  }
  .we-serve-container .we-serve-footer {
    padding: 10% 2%;
    background-color: #0b612d;
  }
  .we-serve-container .we-serve-footer .we-serve-grid-collection {
    gap: 1% 3%;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid {
    margin: 5% 0;
    height: 140px;
    background-color: #95c11f;
    margin-left: 2%;
  }
  .we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid h2 {
    font-size: 20px;
  }
  .we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid img {
    height: 40px;
  }
  .we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid-first {
    border-top-left-radius: 50px;
  }
  .we-serve-container .we-serve-footer .we-serve-grid-collection .we-serve-grid-last {
    border-bottom-right-radius: 50px;
  }
  .service-healthcare {
    height: auto;
  }
  .service-healthcare .service-healthcare-header {
    height: 300px;
    position: relative;
  }
  .service-healthcare .service-healthcare-header .service-right-leaf {
    position: absolute;
    top: 0;
    right: 0;
  }
  .service-healthcare .service-healthcare-header .service-right-leaf img {
    height: 50vmin;
  }
  .service-healthcare .service-healthcare-header .healthcare-tagline {
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
  .service-healthcare .service-healthcare-header .healthcare-tagline h2 {
    font-size: 48px;
  }
  .service-healthcare .service-healthcare-footer {
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-flow: dense;
  }
  .service-healthcare .service-healthcare-footer img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .service-healthcare .service-healthcare-footer .service-healthcare-footer-content {
    border-top-right-radius: 0;
    border-bottom-right-radius: 100px;
    padding: 10% 7.5%;
  }
  .service-healthcare .service-healthcare-footer .service-healthcare-footer-content h4 {
    font-size: 20px;
  }
  .service-healthcare .service-healthcare-footer .service-healthcare-footer-content h2 {
    font-size: 36px;
    margin-top: 5%;
  }
  .service-healthcare .service-healthcare-footer .service-healthcare-footer-content p {
    font-size: 18px;
    width: 100%;
    margin-top: 5%;
  }
  .service-wellbeing {
    height: auto;
  }
  .service-wellbeing .service-wellbeing-header {
    height: 300px;
    position: relative;
  }
  .service-wellbeing .service-wellbeing-header .wellbeing-tagline {
    position: absolute;
    bottom: 50%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
  .service-wellbeing .service-wellbeing-header .wellbeing-tagline h2 {
    font-size: 48px;
    text-align: center;
  }
  .service-wellbeing .service-wellbeing-footer {
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .service-wellbeing .service-wellbeing-footer img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .service-wellbeing .service-wellbeing-footer .service-wellbeing-footer-content {
    border-top-left-radius: 0;
    border-top-right-radius: 100px;
    padding: 15% 10%;
    color: #4A4A4A;
  }
  .service-wellbeing .service-wellbeing-footer .service-wellbeing-footer-content h4 {
    font-size: 20px;
    margin-top: 7.5%;
  }
  .service-wellbeing .service-wellbeing-footer .service-wellbeing-footer-content h2 {
    font-size: 36px;
    margin-top: 4%;
  }
  .service-wellbeing .service-wellbeing-footer .service-wellbeing-footer-content p {
    font-size: 18px;
    margin-top: 6%;
  }
  .footer-section {
    height: auto;
  }
  .footer-section .footer-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-section .footer-grid .footer-logo {
    padding: 10%;
  }
  .footer-section .footer-grid .footer-logo img {
    height: 15vmin;
  }
  .footer-section .footer-grid .footer-content {
    height: 500px;
    width: 100%;
    background-color: #0b612d;
    padding: 10%;
    border-top-left-radius: 100px;
  }
  .footer-section .footer-grid .footer-content .footer-content-container {
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 5% 10%;
  }
  .footer-section .footer-grid .footer-content .footer-content-container .footer-content-social {
    padding: 0 10%;
    margin-top: 10%;
  }
}
/*# sourceMappingURL=services.css.map */